<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCsgCTChJpMUNb5ZnV2-7XDTGQquWg29bY</string>
	<key>GCM_SENDER_ID</key>
	<string>295253290877</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>seung.hansung.ac.kr.WearCast</string>
	<key>PROJECT_ID</key>
	<string>wearcast-13a9d</string>
	<key>STORAGE_BUCKET</key>
	<string>wearcast-13a9d.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295253290877:ios:818b79f1313bc22aa96614</string>
</dict>
</plist>